<form class="container margin-top" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <mat-card class="calculate">
    <form #filternewsForm="ngForm">

      <mat-form-field class="fieldMargin">
        <input matInput type="number" placeholder="Daily salary (gross) {{getSelectedCurrency()!==undefined?getSelectedCurrency():''}}" [(ngModel)]="salary" name="salary" required>
      </mat-form-field>

      <mat-form-field class="fieldMargin">
        <mat-select placeholder="Work country" [(ngModel)]="country" name="country" required>
          <mat-option *ngFor="let country of getCountriesKeys()" [value]="country">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)='showProgress=true; getSalary(country, salary)' [disabled]="!filternewsForm.form.valid">Get salary</button>
    </form>
  </mat-card>
</form>

<div class="loader" *ngIf="showProgress==true">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="showProgress==false&&dailySalaryResponse!==undefined">
  <p class="p">Net amount of payment after deduction of taxes (in PLN):</p>
  <p class="p">{{dailySalaryResponse}}</p>
</div>
