.p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto, sans-serif';
}

.calculate {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fieldMargin {
  margin-left: 20px;
  margin-right: 20px;
}
