<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Salary calculator application</span>
    <span class="example-spacer"></span>
    <a class="example-link" routerLink="" mat-button>Calculator</a>
  </mat-toolbar-row>
</mat-toolbar>
